<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Game Session</title>
	<link rel="stylesheet" href="/styles.css">
</head>

<body>
	<div class="container">
		<div class="left">
			<h2>Session ID: <%= sessionId %>
			</h2>
			<h2>User ID: <%= userId %>
			</h2>
		</div>
	</div>
	<script src="/scripts.js"></script>
</body>

</html>