<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Tic Tac Toe</title>
	<link rel="stylesheet" href="/session.css">
</head>

<body>
	<div class="container">
		<div class="game">
			<div class="board" id="board">
				<!-- Tic Tac Toe board will be rendered here -->
				<div class="row">
					<div class="cell" id="cell-00"></div>
					<div class="cell" id="cell-01"></div>
					<div class="cell" id="cell-02"></div>
				</div>
				<div class="row">
					<div class="cell" id="cell-10"></div>
					<div class="cell" id="cell-11"></div>
					<div class="cell" id="cell-12"></div>
				</div>
				<div class="row">
					<div class="cell" id="cell-20"></div>
					<div class="cell" id="cell-21"></div>
					<div class="cell" id="cell-22"></div>
				</div>
			</div>
		</div>
		<div class="info">
			<h2 class="opponentInfo">Waiting for opponent...</h2>
		</div>
	</div>
	<script src="/scripts.js"></script>
</body>

</html>