<!-- index.ejs -->
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Tic Tac Toe</title>
	<link rel="stylesheet" href="/styles.css">
</head>

<body>
	<div class="container">
		<div class="left">
			<input type="text" id="gameId" placeholder="Enter Game ID">
			<button id="joinBtn">Join</button>
		</div>
		<div class="separator"></div>
		<div class="right">
			<button id="newGameBtn">New Game</button>
		</div>
	</div>
	<script>
		document.getElementById('newGameBtn').addEventListener('click', async () => {
			try {
				const response = await fetch('/new-game', {
					method: 'POST',
					headers: {
						'Content-Type': 'application/json'
					}
				});
				const data = await response.json();

				if (data.sessionId) {
					// Redirect to the session page
					window.location.href = `/${data.sessionId}`;
				}
			} catch (error) {
				console.error('Error creating new game:', error);
			}
		});

		document.getElementById('joinBtn').addEventListener('click', () => {
			try {
				const gameId = document.getElementById('gameId').value;
				window.location.href = `/${gameId}`;
			} catch (error) {
				console.error('Error joining the game: ', error);
			}
		});
	</script>
</body>

</html>