/* session.css */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap');

body {
	margin: 0;
	padding: 0;
	font-family: 'Roboto Mono', monospace;
	background: linear-gradient(to bottom right, #3498db, #9b59b6);
	background-repeat: no-repeat;
	background-size: cover;
}

.container {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

#returnHome {
	width: 100%;
	margin-bottom: 100px;
}

.row {
	display: flex;
}

.cell {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100px;
	height: 100px;
	background-color: transparent;
	/* Light gray background */
	border: 1px solid #ccc;
	/* Light gray border */
	cursor: pointer;
	margin: 1px;
}

.cell:hover {
	background-color: #ddd;
	/* Darker gray background on hover */
}

button {
	width: 100%;
	/* Set button width to 100% */
	padding: 15px;
	border: 1px solid white;
	border-radius: 5px;
	background-color: #fff;
	color: #3498db;
	font-weight: bold;
	cursor: pointer;
	transition: background-color 0.3s;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	font-size: 20px;
}

button:hover {
	background-color: transparent;
	border: 1px solid white;
	color: white;
}

.info {
	text-align: center;
	color: white;
}

#sessionId {
	color: white;
	width: 100%;
	margin-bottom: 15px;
	background-color: transparent;
	border: 1px solid white;
	text-align: center;
	padding: 10px 0px 10px 0px;
	outline: none;
	font-size: 20px;
}

#sessionId:focus {
	outline: none;
}