/* styles.css */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap');

body {
	margin: 0;
	padding: 0;
	background: linear-gradient(to bottom right, #3498db, #9b59b6);
	background-repeat: no-repeat;
	background-size: cover;
}

body,
input,
button,
.title,
h1 {
	font-family: 'Roboto Mono', monospace;
}

h1 {
	text-align: center;
	color: white;
}

.container {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	height: 100vh;
}

.left,
.right {
	width: 200px;
	padding: 20px;
	border-radius: 10px;
	background-color: transparent;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	display: flex;
	flex-direction: column;
	align-items: center;
}

.left input[type="text"] {
	width: calc(100% - 20px);
	padding: 10px;
	margin-bottom: 10px;
	border: 1px solid white;
	border-radius: 5px;
	outline: none;
	background-color: transparent;
	color: #fff;
}

/* Adjust placeholder visibility */
.left input[type="text"]::placeholder {
	color: rgba(255, 255, 255, 0.6);
}

button {
	width: 100%;
	/* Set button width to 100% */
	padding: 15px;
	border: 1px solid white;
	border-radius: 5px;
	background-color: #fff;
	color: #3498db;
	font-weight: bold;
	cursor: pointer;
	transition: background-color 0.3s;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

button:hover {
	background-color: transparent;
	border: 1px solid white;
	color: white;
}

.separator {
	height: 70%;
	width: 2px;
	background-color: rgba(255, 255, 255, 0.5);
}

/* Media query for smaller screens */
@media screen and (max-width: 600px) {
	.container {
	  flex-direction: column; /* Change flex direction to stack items vertically */
	  align-items: center; /* Allow items to stretch to full width */
	}
	
	.left,
	.right {
	  width: 80%; /* Set width to full width with some padding */
	  margin-bottom: 20px; /* Add some space between sections */
	}
	
	.separator {
	  height: 2px; /* Adjust height for horizontal separator */
	  width: 70%; /* Set width to full */
	  background-color: rgba(255, 255, 255, 0.5);
	  margin: 20px 0; /* Add margin to separate sections */
	}
  }